# ==========================================================================
# Author:         scps950707
# Email:          scps950707@gmail.com
# Created:        2016-03-27 00:00
# Last Modified:  2018-03-18 14:17
# Filename:       .aliases
# ==========================================================================
alias ll='ls -lFh' #size,show type,human readable
alias la='ls -lAFh' #long list,show almost all,show type,human readable
alias l='ls -lFh' #size,show type,human readable
alias ldot='ls -ld .*'
alias memcheck='valgrind --leak-check=yes'
alias memcheckfull='valgrind --leak-check=full'
alias mcda='make clean dep all'
alias mc='make clean'
alias mca='make clean all'
alias mcm='make clean && make'
alias ..='cd ..'
alias n='nautilus'
alias g='git'
alias mv='mv -v'
alias rm='rm -I -v'
alias cp='cp -v'
alias dbox='nautilus ~/Dropbox/'
alias listhook='(cd `git rev-parse --show-toplevel` && tree `git config core.hooksPath`)'
alias magit='vim -c MagitOnly'
alias styleall='astyle --suffix=none `find . -regex ".*\.[ch]p*p*$"`'
alias findn='find . -name'
alias pathlist="echo $PATH | sed 's/:/\n/g'"
